.tickets{
    margin-top: 42px;
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__link{
        display: inline-flex;
        width: max-content;
        align-items: center;
        gap: 5px;
        color: var(--color-black);
        &-icon{
            width: 20px;
            height: 20px;
            fill: var(--color-black);
            transition: fill 0.3s ease-in-out;
        }
        &-title{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin: 0px;
        }
        &:hover{
            & .tickets__link-icon{
                fill: var(--color-accent);
            }
        }
    }
    &__slider{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        overflow-x: hidden;
        &-container{
            position: relative;
        }
    }
    &__slider-btn{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
        &-icon{
            width: 8px;
            height: 14px;
            fill: var(--color-black);
            transition: fill 0.3s ease-in-out;
        }
        &--next{
            right: -22px;
            &:hover{
                transform: translate(5px, -50%);
                & .tickets__slider-btn-icon {
                    fill: var(--color-accent);
                }
            }
        }
        &--prev{
            left: -22px;;
            &:hover{
                transform: translate(-5px, -50%);
                & .tickets__slider-btn-icon {
                    fill: var(--color-accent);
                }
            }
        }
    }
    &__slide{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
        width: 150px;
        flex-shrink: 0;
        &-link{
            &:hover{
                & .tickets__slide-name{
                    color: var(--color-accent);
                }
                & .tickets__slide-img-wrap::before{
                    opacity: 1;
                }
            }
        }
        &-img{
            width: 150px;
            height: 214px;
            object-fit: cover;
            vertical-align: bottom;
            &-wrap{
                position: relative;
                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: "";
                    opacity: 0;
                    background-color: rgba(0,0,0,0.15);
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
        &-rate{
            position: absolute;
            color: var(--color-white);
            padding: 3px;
            top: 10px;
            left: 10px;
        }
        &-name{
            margin: 0px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.03em;
            color: var(--color-black);
            transition: color 0.2s ease-in-out;
        }
        &-genres{
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.03em;
            color: var(--color-secondary);
        }
    }
}