.raiting{
    margin-bottom: 32px;
    &__title{
        margin-bottom: 24px;
    }
    &__score{
        display: flex;
        align-items: flex-start;
        &_stars{
            flex-shrink: 0;
            margin-right: 32px;
            position: relative;
            font-size: 40px;
            display: inline-block;
            &_elements{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: row-reverse;
                overflow: hidden;
                margin-bottom: 16px;
                &_item{
                    position: absolute;
                    width: 0%;
                    height: 0%;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                }
                &_label{
                    flex: 0 0 10%;
                    height: 100%;
                    cursor: pointer;
                    color: #CCCCCC;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    border: none;
                    background: none;
                }
            }
            &::before{
                content: '★★★★★★★★★★';
                display: block;
            }
        }
        &_container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
            &_value{
                font-weight: 700;
                font-size: 44px;
                color: var(--rate-good);
                margin: 0;
            }
            &_count{
                display: flex;
                font-size: 12px;
                line-height: 14px;
                color: var(--color-secondary);
                &_kp{
                    margin-right: 8px;
                }
            }
        }
        &_button{
            min-width: 32px;
            min-height: 32px;
            padding: 8px 52px;
            font-size: 13px;
            line-height: 16px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            border: none;
            background: rgba(#000000, 0.05);
            cursor: pointer;
            color: var(--color-black);
            margin-top: 12px;
            transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
            &:hover{
                color: var(--color-white);
                background: var(--color-accent);
            }
    }
    }
}


.raiting__score_stars_elements_label::before {
    content: '★';
    display: block;
    transition: all 0.3s ease 0s;
}

.raiting__score_stars_elements_label::after {
    font-size: 13px;
    content: attr(data-value);
    color: #999;
}

.raiting__score_stars_elements_item:checked,
.raiting__score_stars_elements_item:checked ~ .raiting__score_stars_elements_label {
    color: var(--color-accent);
}

.raiting__score_stars_elements_label:hover, 
.raiting__score_stars_elements_label:hover ~ .raiting__score_stars_elements_label,
.raiting__score_stars_elements_label:checked ~ .raiting__score_stars_elements_label:hover {
    color: var(--color-black);
}