.reviews{
    &__title{
        margin-bottom: 24px;
    }
    &__button{
        margin-bottom: 24px;
        min-width: 32px;
        min-height: 32px;
        padding: 8px 52px;
        font-size: 13px;
        line-height: 16px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: none;
        background: rgba(#000000, 0.05);
        cursor: pointer;
        color: var(--color-black);
        margin-top: 12px;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
        &:hover{
            color: var(--color-white);
            background: var(--color-accent);
        }
    }
    &__content{
        display: flex;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px;
        @include media-tablet{
            flex-direction: column-reverse;
        }
        &_items{
            flex: 0 0 800px;
            width: 800px;
            display: block;
            padding-right: 9px;
            padding-left: 9px;
            @include media-desktopsmall{
                flex: 0 0 600px;
                width: 600px;
            }
            @include media-tablet{
                flex: none;
                width: auto;
            } 
            &_item{
                &_positive{
                    background-color: var(--rate-bg-good);
                    margin-bottom: 20px;
                    @include media-tablet-660{
                        &:nth-last-child(2n+1){
                            display: none;
                        }
                    }
                }
                &_negative{
                    background-color: var(--rate-bg-bad);
                    margin-bottom: 20px;
                    @include media-tablet-660{
                        &:nth-last-child(2n+1){
                            display: none;
                        }
                    }
                }
                &_neutral{
                    background-color: var(--rate-bg-neutral);
                    margin-bottom: 20px;
                    @include media-tablet-660{
                        &:nth-last-child(2n+1){
                            display: none;
                        }
                    }
                }
                &_head{
                    display: flex;
                    align-items: center;
                    padding: 16px 24px;
                    border-bottom: 1px solid rgba(31,31,31,.07);
                    &_user{
                        display: flex;
                        &_name{
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                    &_date{
                        align-items: flex-end;
                        margin-left: auto;
                        font-size: 13px;
                        color: var(--color-secondary);
                    }
                }
                &_body{
                    padding: 19px 24px 38px;
                    &_title{
                        margin-top: 0;
                        margin-bottom: 12px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    &_text{
                        overflow: hidden;
                        max-height: 300px;
                        font-size: 14px;
                        line-height: 20px;
                        white-space: pre-line;
                        word-wrap: break-word;
                    }
                    &_view{
                        margin-top: 16px;
                        &_button{
                            padding: 1px 6px 2px;
                            font-size: 13px;
                            cursor: pointer;
                            color: rgba(31,31,31,.7);
                            border: none;
                            border-radius: 2px;
                            background-color: rgba(31,31,31,.1);
                            overflow: visible;
                        }
                    }
                    &_likes{
                        display: flex;
                        align-items: center;
                        margin-top: 32px;
                        &_like{
                            margin-right: 8px;
                            display: inline-flex;
                            padding: 10px 20px;
                            background-color: rgba(0,0,0,.05);
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            font-size: 13px;
                            font-weight: 600;
                            font-style: normal;
                            line-height: 16px;
                            cursor: pointer;
                            text-decoration: none;
                            border: none;
                            border-radius: 100px;
                            outline: none;
                            &_title{
                                margin-left: 4px;
                                font-size: 13px;
                                font-weight: 700;
                                line-height: 16px;
                            }
                            &_count{
                                margin-left: 4px;
                                font-size: 13px;
                                line-height: 16px;
                                color: var(--color-secondary)
                            }
                        }
                    }
                }
            }
        }
        &_statistic{
            flex: 0 0 200px;
            width: 200px;
            display: block;
            padding-right: 9px;
            padding-left: 9px;
            @include media-desktopsmall{
                flex: 0 0 160px;
                width: 160px;
            }
            @include media-tablet{
                flex: none;
                width: auto;
            }
            &_nav{
                position: sticky;
                top: 60px;
                padding-top: 17px;
                @include media-tablet{
                    display: flex;
                    justify-content: space-between;
                }
                @include media-mobile-520{
                    flex-direction: column;
                }
                &_total{
                        padding-left: 7px;
                        border-left: 2px solid #f50;
                        display: flex;
                        flex-flow: column;
                        margin-bottom: 12px;
                        &_count{
                            margin-bottom: 2px;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 28px;
                        }
                        &_text{
                            margin-top: 4px;
                            font-size: 12px;
                        }
                }
                &_positive, &_negative, &_neutral{
                    display: flex;
                    flex-flow: column;
                    padding-left: 9px;
                    margin-bottom: 12px;
                    &_title{
                        display: flex;
                        align-items: baseline;
                        &_count{
                            margin-bottom: 2px;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 28px;
                        }
                        &_percent{
                            margin-left: 4px;
                            font-size: 14px;
                            color: var(--color-secondary);
                        }
                    }
                    &_text{
                        margin-top: 4px;
                        font-size: 12px;
                    }
                }
                &_positive{
                    &_title{
                        &_count{
                            color: var(--rate-good);
                        }
                    }
                }
                &_negative{
                    &_title{
                        &_count{
                            color: red;
                        }
                    }
                }
                &_neutral{
                    &_title{
                        &_count{
                            color: var(--color-secondary);
                        }
                    }
                }
            }
        }
    }
}